/*#region css reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* I added this */
*, *::before, *::after {
    box-sizing: border-box;
}

/*#endregion*/

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}
p {
    font-size: 20px;
    margin-bottom: 5px;
}
label {
    font-size: 20px;
}

body {
    color: white;
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ), 
      url("./images/05mtslt10hzy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    padding: 30px 0;
    text-align: center;
}

#main {
    display: block;
    text-align: left;
    padding: 50px 22vw;
}

section {
    background-color: rgba(27, 27, 50, 0.9);
    padding: 20px 30px;
}

div {
    max-width: 100%;
    height: 100%;
    margin: 30px 0;
}

label {
    margin-bottom: 5px;
}

input {
    width: 100%;
    line-height: 30px;
}

.album label{
    display: block;
    line-height: 20px;
}

.album input,
.std input {
    width: initial;
}

textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
}

#submit {
    cursor: pointer;
}


@media screen and (max-width: 1280px) {
    #main {
        padding: 0 10vw;
    }
}  

@media screen and (max-width: 666px) {
    #main {
        padding: 0 5vw;
    }
}  

@media screen and (max-width: 420px) {
    #main {
        padding: 0 0;
    }
}  
